<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    入门-->
    <bean id="helloSpring" class="com.itheima.HelloSpring">
        <!-- collaborators and configuration for this bean go here -->
        <property name="username" value="谢亮辉"/>
    </bean>

    <!--    bean实例化-->
    <!--    方式一：构造方法实例化bean-->
    <!--        <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl"/>-->
    <!--    方式二：使用静态工厂实例化对象-->
    <!--    <bean id="orderDao" class="com.itheima.factory.OrderDaoFactory" factory-method="getOrderDao"/>-->

    <!--    方式三：使用实例工厂实例化对象-->
    <!--    <bean id="userFactory" class="com.itheima.factory.UserDaoFactory"/>-->
    <!--    <bean id="orderDao" factory-bean="userFactory" factory-method="getUserDao"/>-->

    <!--    方式四：使用FactoryBean实例化bean-->
    <!--    <bean id="orderDao" class="com.itheima.factory.UserDaoFactoryBean"/>-->


    <!--    依赖注入-->
    <!--    setter注入-->
    <!--<bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl"/>
    <bean id="orderDao" class="com.itheima.dao.impl.OrderDaoImpl">
        <property name="connectionNum" value="212"/>
        <property name="databaseName" value="mysql"/>
    </bean>
    <bean id="bookService" class="com.itheima.service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao"/>
        <property name="orderDao" ref="orderDao"/>
    </bean>-->

    <!--    构造器注入-->
    <!--    标准写法-->
    <!--<bean id="employeeDao" class="com.itheima.dao.impl.EmployeeDaoImpl">
        <constructor-arg name="connectionNum" value="20"/>
        <constructor-arg name="databaseName" value="mysql"/>
    </bean>
    <bean id="employeeService" class="com.itheima.service.impl.EmployeeServiceImpl">
        <constructor-arg name="employeeDao" ref="employeeDao"/>
        <constructor-arg name="bookDao" ref="bookDao"/>
    </bean>-->
    <!--    解决形参名称高耦合的问题，出现同一个类型不知怎么赋值，其实是按左往右的顺序赋值-->
    <!--<bean id="employeeDao" class="com.itheima.dao.impl.EmployeeDaoImpl">
        <constructor-arg type="int" value="20"/>
        <constructor-arg type="java.lang.String" value="mysql"/>
    </bean>
    <bean id="employeeService" class="com.itheima.service.impl.EmployeeServiceImpl">
        <constructor-arg name="employeeDao" ref="employeeDao"/>
        <constructor-arg name="bookDao" ref="bookDao"/>
    </bean>-->

    <!--    形参的索引赋值，从零开始-->
    <!--
    <bean id="employeeDao" class="com.itheima.dao.impl.EmployeeDaoImpl">
        <constructor-arg index="0" value="201"/>
        <constructor-arg index="1" value="mysql"/>
    </bean>
    <bean id="employeeService" class="com.itheima.service.impl.EmployeeServiceImpl">
        <constructor-arg name="employeeDao" ref="employeeDao"/>
        <constructor-arg name="bookDao" ref="bookDao"/>
    </bean>-->

    <!--    依赖注入的自动方式-->
    <!--<bean id="studentDao" class="com.itheima.dao.impl.StudentDaoImpl"/>
    <bean id="studentService" class="com.itheima.service.impl.StudentServiceImpl" autowire="byType"/>-->


    <!--    集合的方式进行依赖注入-->
    <bean id="teacherDao" class="com.itheima.dao.impl.TeacherDaoImpl">
        <property name="array">
            <array>
                <value>100</value>
                <value>200</value>
                <value>300</value>
            </array>
        </property>

        <property name="list">
            <list>
                <value>阿斯顿</value>
                <value>萨芬</value>
                <value>大概</value>
            </list>
        </property>

        <property name="set">
            <set>
                <value>俺是个</value>
                <value>2共患难00</value>
                <value>阿斯顿</value>
                <value>阿斯顿</value>
            </set>
        </property>

        <property name="map">
            <map>
                <entry key="country" value="China"/>
                <entry key="province" value="广东"/>
                <entry key="city" value="广州市"/>
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="country">China</prop>
                <prop key="province">a</prop>
                <prop key="city">b</prop>
            </props>
        </property>
    </bean>
</beans>